<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgsf.supermarket.dao.BillMapper">

    <resultMap id="getPageByRM" type="Bill">
        <id column="bid" property="id"/>
        <result column="billCode" property="billCode"/>
        <result column="productName" property="productName"/>
        <result column="productDesc" property="productDesc"/>
        <result column="productUnit" property="productUnit"/>
        <result column="productCount" property="productCount"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="isPayment" property="isPayment"/>
        <result column="creationDate" property="creationDate"/>
        <result column="providerId" property="providerId"/>
        <association property="provider" javaType="Provider">
            <id column="pid" property="id"/>
            <result column="proName" property="proName"/>
        </association>
    </resultMap>
    <select id="getPageBy" resultMap="getPageByRM">
        SELECT b.id bid,b.billCode,b.productName,b.productDesc,
        b.productUnit,b.productCount,b.totalPrice,b.isPayment,
        b.creationDate,b.providerId,p.id pid,p.proName FROM smbms_bill b
        INNER JOIN smbms_provider p ON b.providerId=p.id
        <!--Mybatisplus会根据service传进来的分页page和条件queryWrapper对象来帮我们生成SQL语句，我们只需要获取生成的SQL语句拼接到该SQL中-->
        ${ew.customSqlSegment}
        ORDER BY b.creationDate DESC
        LIMIT #{page.offset}, #{page.size}

    </select>
    <select id="getTotalCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM smbms_bill b
        INNER JOIN smbms_provider p ON b.providerId=p.id
        ${ew.customSqlSegment}
    </select>
</mapper>
